<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
    </path>
  </svg>
</button>

<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 ">
    <a href="https://flowbite.com/" class="flex items-center ps-2.5 mb-5">
      <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 me-3 sm:h-7" alt="Flowbite Logo" /> -->
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-black">ELEVATE</span>
    </a>
    <ul class="space-y-2 font-medium">
      <li>
        <a href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg bg-blue-700 dark:text-gray dark:hover:bg-blue-700 ">
          <svg class="w-5 h-5  text-white transition duration-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 22 21">
            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
          </svg>
          <span class="ms-3 text-white">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_19668_369)">
              <path
                d="M13.25 0.75C10.2663 0.75 7.40483 1.93526 5.29505 4.04505C3.18526 6.15483 2 9.01631 2 12H-1.75L3.1125 16.8625L3.2 17.0375L8.25 12H4.5C4.5 7.1625 8.4125 3.25 13.25 3.25C18.0875 3.25 22 7.1625 22 12C22 16.8375 18.0875 20.75 13.25 20.75C10.8375 20.75 8.65 19.7625 7.075 18.175L5.3 19.95C6.34177 20.9975 7.58061 21.8284 8.94508 22.3948C10.3095 22.9612 11.7726 23.2518 13.25 23.25C16.2337 23.25 19.0952 22.0647 21.205 19.955C23.3147 17.8452 24.5 14.9837 24.5 12C24.5 9.01631 23.3147 6.15483 21.205 4.04505C19.0952 1.93526 16.2337 0.75 13.25 0.75ZM12 7V13.25L17.3125 16.4L18.275 14.8L13.875 12.1875V7H12Z"
                fill="#4461F2" />
            </g>
            <defs>
              <clipPath id="clip0_19668_369">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <span class="flex-1 ms-10 whitespace-nowrap">Quiz History</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg ">
          <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.20841 2.58334H19.7917C20.068 2.58334 20.333 2.69308 20.5283 2.88843C20.7237 3.08378 20.8334 3.34874 20.8334 3.625V22.375C20.8334 22.6513 20.7237 22.9162 20.5283 23.1116C20.333 23.3069 20.068 23.4167 19.7917 23.4167H5.20841C4.93215 23.4167 4.6672 23.3069 4.47185 23.1116C4.27649 22.9162 4.16675 22.6513 4.16675 22.375V3.625C4.16675 3.34874 4.27649 3.08378 4.47185 2.88843C4.6672 2.69308 4.93215 2.58334 5.20841 2.58334ZM9.37508 11.9583V8.83334L4.16675 13L9.37508 17.1667V14.0417H15.6251V11.9583H9.37508Z"
              fill="#4461F2" />
          </svg>

          <span class="flex-1 ms-10 whitespace-nowrap">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">

  <div class="relative flex items-center justify-center px-4">
    <form class="w-full max-w-2xl">
      <label for="default-search" class="mb-2 text-sm font-medium sr-only ">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search Quiz" required />
      </div>
    </form>
    <button type="submit"
      class="text-white absolute end-40 px-15 py-3 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Start
      Quiz</button>
  </div>


  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div class="information flex w-[750px] h-[214px]">
        <div class="images me-20 border-blue-700 w-[216px] h-[216px] border-4 overflow-hidden">
          <img class="w-full h-full  object-cover" src="tawfik.jfif" alt="">
        </div>
        <div class="title py-3">
          <h2 class="text-3xl text-blue-500 font-bold">Tawfik Elgohre</h2>
          <p class="text-gray-400 py-3 ">Voluptatem aut</p>
          <div class="line">
            <div class="line w-[422px] overflow-hidden">
              <svg width="100%" height="26" viewBox="0 0 622 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- محتوى الـ SVG -->
                <rect x="3" y="3" width="619" height="12" rx="6" fill="#F5F5F5" />
                <rect x="3" y="3" width="619" height="12" rx="6" fill="#F5F5F5" />
                <g filter="url(#filter0_d_67_748)">
                  <rect x="3" y="3" width="434" height="12" rx="6" fill="#4461F2" />
                </g>
                <defs>
                  <filter id="filter0_d_67_748" x="0" y="0" width="448" height="26" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feMorphology radius="3" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_67_748" />
                    <feOffset dx="4" dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.929167 0 0 0 0 0.929167 0 0 0 0 0.929167 0 0 0 0.59 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_67_748" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_67_748" result="shape" />
                  </filter>
                </defs>
              </svg>
            </div>
          </div>
          <div class="icon flex  ">
            <div class="science flex">
              <div class="icon bg-white ">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M34.5 11.5391H24.5V7.125C24.5 6.43359 23.9414 5.875 23.25 5.875H7.3125V4.3125C7.3125 4.14062 7.17188 4 7 4H4.8125C4.64062 4 4.5 4.14062 4.5 4.3125V34.9375C4.5 35.1094 4.64062 35.25 4.8125 35.25H7C7.17188 35.25 7.3125 35.1094 7.3125 34.9375V24.625H17V29.0391C17 29.7305 17.5586 30.2891 18.25 30.2891H34.5C35.1914 30.2891 35.75 29.7305 35.75 29.0391V12.7891C35.75 12.0977 35.1914 11.5391 34.5 11.5391Z"
                    fill="#4461F2" />
                </svg>
              </div>
              <div class="Passed ms-7">
                <h3 class="font-bold">27</h3>
                <p>Quiz Passed</p>
              </div>
              <div class="min ps-5  ">
                <div class="icon flex font-bold ">
                  <svg width="39" height="38" viewBox="0 0 39 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.5 0C9.0234 0 0.5 8.5234 0.5 19C0.5 29.4766 9.0234 38 19.5 38C29.9766 38 38.5 29.4766 38.5 19C38.5 8.5234 29.9766 0 19.5 0ZM25.7567 27.9433L17.6 19.7866V7.6H21.4V18.2134L28.4433 25.2567L25.7567 27.9433Z"
                      fill="#4461F2" />
                  </svg>
                  <h3>13min</h3>
                </div>
                <div class="text ">
                  <p>Fastest Time</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 1v16M1 9h16" />
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
    <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 1v16M1 9h16" />
        </svg>
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
