<div class="content flex justify-center items-center flex-col">
  <div class="header">
    <app-navbar />
  </div>

  <div
    class="inputs flex justify-center items-center flex-col mt-5 p-5 text-center rounded-lg shadow bg-white"
    style="width: 410px; height: 490px"
  >
    <h6 class="mb-4 w-full flex justify-start font-bold">Verify code</h6>

    <form
      [formGroup]="verifyForm"
      (ngSubmit)="verifySubmit()"
      class="w-full flex flex-col gap-3"
    >
      <div class="form-group">
        <input
          formControlName="code"
          class="w-full border rounded px-3 py-2 focus:outline-blue-400 focus:ring focus:ring-blue-300"
          type="text"
          placeholder="Enter Code"
          id="verify"
        />
      </div>
      <div class="Recover flex justify-end">
        <a class="no-underline text-gray-500 text-sm cursor-pointer"
          >Didn’t receive a code? Resend</a
        >
      </div>
      <button
        type="submit"
        class="bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition"
      >
        Verify
      </button>
    </form>

    <app-footer />
  </div>
</div>
