<div class="flex flex-col items-center justify-center min-h-screen">
  <!-- Header -->
  <div class="mb-6">
    <app-navbar></app-navbar>
  </div>

  <!-- Card -->
  <div
    class="bg-white shadow-lg rounded-2xl w-[410px] h-[490px] flex flex-col items-center p-6 text-center"
  >
    <h6 class="mb-4 w-full text-left font-bold text-gray-800">
      Set a Password
    </h6>

    <form class="w-full flex flex-col gap-4">
      <!-- Create Password -->
      <div class="relative">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="createPassword"
          placeholder="Create Password"
          formControlName="password"
          class="w-full rounded-lg border border-gray-300 py-2 pl-3 pr-10 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <span
          class="absolute inset-y-0 right-3 flex items-center text-gray-400 cursor-pointer "
        >
          <!-- Eye Icon -->
          <svg
          (click)="togglePassword()"
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>
        </span>
      </div>

      <!-- Confirm Password -->
      <div class="relative">
        <input
          [type]="rePasswordVisible ? 'text' : 'password'"
          id="confirmPassword"
          placeholder="Re-enter Password"
          formControlName="rePassword"
          class="w-full rounded-lg border border-gray-300 py-2 pl-3 pr-10 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <span
          class="absolute inset-y-0 right-3 flex items-center text-gray-400 cursor-pointer "
        >
          <!-- Eye Icon -->
          <svg
          (click)="toggleRePassword()"
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>
        </span>
      </div>

      <!-- Resend -->
      <div class="flex justify-end">
        <a
          href="#"
          class="text-sm text-gray-500 hover:text-gray-700 transition"
        >
          Didn’t receive a code? Resend
        </a>
      </div>

      <!-- Button -->
      <button
        type="submit"
        class="w-full bg-blue-600 text-white rounded-lg py-2 font-medium hover:bg-blue-700 transition"
      >
        Set Password
      </button>
    </form>


    <!-- Icons -->
    <div class="flex justify-center items-center gap-3 mt-3">
      <div class="flex items-center justify-center">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
