$main-color: #4461F2;

.header .register{
  border-radius: 20px;
  // padding: 3px 10px;
}

.header nav .login{
  cursor: pointer;
}


.content .inputs button{
  background-color: $main-color !important;
}

// line
.inputs .Recover{
  cursor: pointer;
}

.inputs .line{
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -95px;
  width:75%;
  height: 1px;
  background-color: #0000004d;
}


.line::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -95px;
  width:75%;
  height: 1px;
  background-color: #0000004d;
}


// icons
.icons .google , .icons .twitter, .icons .facebook, .icons .iphone{
  width: 64px;
  height: 64px;
  border: 1px solid #0000001d;
  border-radius: 20px;
}
