<div class="content flex flex-col items-center justify-center">
  <div class="header">
    <app-navbar/>
  </div>

  <div class="inputs flex flex-col justify-center items-center mt-5 p-5 text-center rounded bg-white shadow-md"
    style="width: 410px; height: 490px;">
    <h6 class="mb-4 w-full text-left font-bold">Forgot your password?</h6>

    <form [formGroup]="emailForm" (ngSubmit)="FORGETPASSWORD()" class="w-full flex flex-col gap-3">
      <div>
        <input class="w-full outline-none focus:ring-0 border border-gray-300 rounded px-3 py-2 "
          formControlName="email" type="email" placeholder="Enter Email" id="email">
      </div>
      <div class="text-sm text-blue-600 text-right">
        <a class="no-underline cursor-pointer">Recover password?</a>
      </div>
      <button type="submit" class="bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">Sign in</button>
    </form>

    <app-footer/> 
  </div>
</div>
