$main-color: #4461F2;

.content .inputs button{
  background-color: $main-color !important;
}
.line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -95px;
  width:75%;
  height: 1px;
  background-color: #0000004d;
}
.line::after{
  content: "";
  position: absolute;
  top: 50%;
  right: -95px;
  width:75%;
  height: 1px;
  background-color: #0000004d;
}


// icons
.icons .google , .icons .twitter, .icons .facebook, .icons .iphone{
  width: 64px;
  height: 64px;
  border: 1px solid #0000001d;
  border-radius: 20px;
}
