// start variables
$main-color: #4461F2;


.content{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}


.layout{
  width: 482;
height: 771.5927734375;
opacity: 1;
top: 80px;
left: 80px;
gap: 80px;

}

.layout .container .title{
  width: 318;
  height: 169;
  opacity: 1;
}


.layout .container .title h2{
  font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 150%;
letter-spacing: 0px;
vertical-align: middle;

}

.layout .container .title span{
 font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 60px;
line-height: 150%;
letter-spacing: 0px;
vertical-align: middle;
color: $main-color;

}


.layout .container .title p{
  font-family: Poppins;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 40px;
letter-spacing: 0px;
vertical-align: middle;

}
