<div class="container-fluid p-0 m-0 vh-100 auth-wrapper">
  <div class="row no-gutters h-100 flex-row">

    <div class="col-auto"
      style="width: 708px;height: 100vh ;background-color: #f0f4fc;  border-top-right-radius: 120px;border-bottom-right-radius: 120px;">
      <!--  Sidebar -->
      <div class="p-4">
        <div class="content">
          <div class="layout">
            <div class="container">
              <div class="title">
                <h2>Welcome to <br /> <span>Elevate</span> </h2>
                <p class="mb-0">Quidem autem voluptatibus qui quaerat aspernatur <br> architecto natus</p>
              </div>
              <div class="imageBackGround d-flex justify-content-center align-items-center ">
                <img src="bro.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  content  -->
    <div class="col overflow-auto">
      <router-outlet>

      </router-outlet>
    </div>

  </div>
</div>
